.box-in{
  color: rgb(226, 219, 219);
  height: 600px;
  /* width: 300px */
};
p{
  color: red;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0; 
  
  width: 100% !important;
  left: 5;
  z-index: 20; 
}
.footer-wrapper {
  position: absolute;
  bottom: 0;
  right: 0; 
  
  width: 100% !important;
  left: 5;
  z-index: 20; 
}
#box1{
  background-color: rgb(65, 60, 60);
  padding: 50px 50px;
  height: 600px;
  width: 500px;
}
.post-something{
  font-size: 30px;
  margin-left: 26cm;
}
.outer{
  border: lightblue solid 10px;

  padding: 5px 5px;;
  width: 60%;
  
}
.title{
  text-align: center;
  color: rgb(1, 97, 129);
}
.by{
  font-size: 20px;
  margin-left:13cm;
}
html, body {
  margin: 0;
 }
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
/* .center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
} */